<template>
    <div class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group mb-0">
                        <div class="card p-4">
                            <form v-on:submit.prevent="login()" novalidate="true">
                                <div class="card-body">
                                    <h1>Login</h1>
                                    <p class="text-muted">Sign In to your account</p>
                                    <div class="input-group mb-3">
                                        <span class="input-group-addon"><i class="icon-user"></i></span>
                                        <input type="email" v-model="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="input-group mb-4">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input type="password" v-model="password" class="form-control" placeholder="Password">
                                    </div>
                                    <p class="text-danger" v-if="errors.length">
                                        <b>Kiểm tra lại đi bạn ei:</b>
                                        <ul>
                                            <li v-for="error in errors">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4">Login</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button v-on:click="reset" type="button" class="btn btn-link px-0">Quên mật khẩu?</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Login',
    data: function() {
        return {
            context: 'login context',
            email: null,
            password: null,
            errors: [],
        };
    },
    mounted() {},
    methods: {
        checkForm: function() {
            this.errors = [];
            if (!this.email) {
                this.errors.push('Email required.');
            } else if (!this.validEmail(this.email)) {
                this.errors.push('Valid email required.');
            }
            if (!this.password) {
                this.errors.push('Password required.');
            } else if (!this.validPass(this.password)) {
                this.errors.push('Valid password required.');
            }
            if (!this.errors.length) {
                return true;
            }
            return false;
        },
        validPass: function(password) {
            var pass = /^[A-Za-z0-9]\w{3,15}$/;
            return pass.test(password);
        },
        validEmail: function(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        login() {
            if (!this.checkForm()) {
                return false;
            }
            this.$auth.login({
                    data: { email: this.email, password: this.password },
                    redirect: {
                        name: 'Dashboard'
                    },
                    fetchUser: true
                })
                .then((res) => {
                    console.log('success ' + this.context);
                    // console.log(res.data.user);
                    var user = res.data.user;
                    localStorage.setItem("user", JSON.stringify(user));
                    localStorage.setItem("role", JSON.stringify(res.data.roles));
                    localStorage.setItem("permissions", JSON.stringify(res.data.permissions));
                    var users = JSON.parse(localStorage.getItem("user"));
                    console.log(localStorage)
                    // console.log(users);
                    // console.log(ability.rules);
                    this.$toasted.success('Đăng nhập thành công', {
                        theme: 'toasted-primary',
                        iconPack: 'fontawesome',
                        icon: 'check',
                        position: 'top-right',
                        duration: 350
                    })
                }).catch(error => {
                    console.log(error.response.data.status);
                    this.errors.push(error.response.data.status);
                });
        },
        reset() {
            this.$router.push('forgot-password');
        }
    }
}
</script>